body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #cc0a00;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
    padding-top: 45px; 
     
}
.box {
    height: auto;
    width: auto;
    background-color: lightgrey;
    
}
#reset-button {
    margin-top: 45px;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}
h1 {
    font-size: 40px;
    margin-top: 50px;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

